# {{ ansible_managed }}

auto {{ item.value.device }}
iface {{ item.value.device }} {{ BR_TUN_NETWORK.family }} {{ BR_TUN_NETWORK.method }}
  address {{ item.value.address }}
{% for key in ['description', 'bond-mode', 'bond-miimon', 'bond-slaves', 'bond-lacp-rate', 'broadcast', 'gateway', 'netmask', 'network', 'vlan-raw-device', 'bond-master'] %}
{%   if key in BR_TUN_NETWORK %}
  {{ key }} {{ BR_TUN_NETWORK[key] }}
{%   endif %}
{% endfor %}

{%- if BR_TUN_NETWORK.nameservers is defined %}

  dns-nameservers {{ BR_TUN_NETWORK.nameservers | join(' ') }}
{% endif %}
{%- if BR_TUN_NETWORK.dns_search is defined %}
  dns-search {{ BR_TUN_NETWORK.dns_search }}
{% endif %}
