export OS_PROJECT_DOMAIN_ID=default
export OS_USER_DOMAIN_ID=default
export OS_PROJECT_NAME=atmoadmin
export OS_TENANT_NAME=admin
export OS_USERNAME=atmoadmin
export OS_PASSWORD={{ ATMOADMIN }}
export OS_AUTH_URL=http://{{ HA_PROXY_PUBLIC_IP }}:35357/v3
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2