#!/bin/bash

echo
echo -e "iplant liberty openstack setup:"
echo -e "\tkeystone: hercules"
echo -e "\tnova-api: talon"
echo -e "\tglance: stars"
echo -e "\thaproxy: hawk"
echo -e "\trabbitmq: hercules"
echo

exit 0